/* 
    Document   : TD1
    Created on : 27 mars 2013, 14:53:50
    Author     : claire
    Description:
    Problèmes en cours :
        - le contenu est décalé sur la droite, et non centré -> A priori, c'est le "width:80%" de la classe h1accueil qui cause ça. En le passant à 100% c'est bien centré.
        - pourquoi le header ne colle plus aux bords, BORDEL ???? -> Là je ne vois pas, mais j'aime bien comme ça
        - décalage menu sur la droite
		- Le site passe mal sur IE10 : les lettres accentées de la police Pacifico ne s'affichent pas. Je ne peux pas tester sur les versions antérieures d'IE, j'ai peur que ce soit pire. --> Remplacée par Merienda
*/

body { 
    /*display: block;*/
    background-color: #c5f85f;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400; 
}

header
{
    width:100%;
    min-width:400px;
    background-color: #92d709;
/*  position: fixed;         pour ue le menu reste en haut, même en cas défilement page        
    top:0px;
    left:0px;*/
    margin-bottom: 0px;
}

nav
{
    display: inline-block;
    width: 100%; 

}

nav ul
{
    display: inline-block;

}


nav li
{
    display: inline-block;
    padding-left: 10px;
    text-transform: uppercase;      /*menu en lettre cap*/
}

nav a
{
    text-decoration: none;      /*enleve le soulignement des liens*/
    color: #333;
    font-weight: 700; 
}

nav a:hover
{
    color: #777;
}

nav h1
{
    display: inline-block;
    font-size: 2.5em;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.h1accueil
{
    /*    position:relative;*/
    /*float:left;*/
    display:inline-block;
    /*border : 1px solid #CCC;*/
    width:100%;
    margin:auto;
}

.h1accueil h1{
    margin: auto;
    text-align: center;
    padding: 2%;
    color: #233402;
}

h1, h2, h3
{
    font-family: 'Merienda', cursive;
}

.presentation
{
    width:80%;
    margin:auto;
    /*    border : 1px solid #CCC;*/
    background: #e2fcb0;
}
/*
.presa-gauche
{
    display: inline-block;
    width:800px;
}*/


#imagetitre
{
    /*position: relative;*/
    display: inline-block;      /* permet positionnement cote a cote*/
    width:45%;
    vertical-align: top;        /* pour que image et txt accueil soit aligné sur le haut (bas par défaut)*/
    /*border : 1px solid #CCC;*/
}

.texteaccueil
{
    /*position: relative;*/
    overflow: auto;         /* en cas de débordement du texte, navigateur gère (barre défilement ar ex)*/
    display: inline-block;
    width:45%;
    vertical-align: top; 
    /*border : 1px solid #CCC;*/
    padding-left: 5%;
}

/* CSS pour la page contact */

.h1contact
{
	display:inline-block;
    width:100%;
    margin:auto;
}

.h1contact h1
{
    margin: auto;
    text-align: center;
    padding: 2%;
    color: #233402;
}

.contact
{
    width:80%;
    margin:auto;
    background: #e2fcb0;
	margin-bottom: 15px;
}

.textecontact
{
    overflow: auto;       
    display: inline-block;
    width:45%;
    vertical-align: top; 
    padding-left: 5%;
}

#imagecontact
{
    display: inline-block;      /* permet positionnement cote a cote*/
    width:45%;
    vertical-align: top;        /* pour que image et txt accueil soit aligné sur le haut (bas par défaut)*/
	padding-left: 4.6%;
}

.contact a
{
	color:#C79F4B;
}

/* CSS pour la page thés */

.h1thes
{
	display:inline-block;
    width:100%;
    margin:auto;
}

.h1thes h1
{
    margin: auto;
    text-align: center;
    padding: 2%;
    color: #233402;
}

.thessoustitre /* Pour afficher le message en haut de la page des thés */
{
    width:80%;
    margin:auto;
    background: #e2fcb0;
	text-align: center;
	margin-bottom: 15px;
}

.thes /* Largeur et couleur de fond pour le gros de la page des thés */
{
    width:80%;
    margin:auto;
    background: #e2fcb0;
}

.textethes /* Utilisé pour regrouper l'ensemble des thés et images présentés */
{
    overflow: hidden;        
    display: inline-block;
    vertical-align: top; 
	width: 100%;
	text-align: center;
}

.fondthe /* Utilisé pour les divs regroupant texte et image d'un thé */
{
	display: inline-block;
	background:#d7fa90;
	vertical-align: top;
	overflow: auto;
	width: 45%;
	padding: 1%;
	margin: 12px;
}


.descriptionthe /* Utilisé pour les divs contenant le texte descriptif d'un thé */
{
	position: relative;
	float: left;
	width: 70%;
	text-align: center;
}


#imagethe 
{
	float: left;
	padding: 15px;
}

